<h2 mat-dialog-title class="dialog-title">New User</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="userFormGroup">
    <div class="form-input">
      <label for="name">Name: </label>
      <input id="name" type="text" formControlName="name" />
    </div>

    <div class="form-input">
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button
    mat-button
    [disabled]="!userFormGroup.valid"
    color="primary"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
