.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  padding: 8px;
  display: flex;
  flex: 1;
  margin: 5px 10px;
  border-radius: 5px;
}

.users-list {
  margin: 5px 10px;
}
