<h1>Users List</h1>

<div class="container">
  <input
    class="search-input"
    type="text"
    [(ngModel)]="query"
    (ngModelChange)="inputChanged($event)"
    placeholder="Search User"
  />

  <button mat-raised-button (click)="createUser()">Create User</button>
</div>

<mat-chip-listbox class="users-list">
  <mat-chip-option
    *ngFor="let user of users$ | async"
    (click)="selectUser(user)"
    >{{ user.name }}</mat-chip-option
  >
</mat-chip-listbox>

<app-user-profile *ngIf="selectedUser" [user]="selectedUser"></app-user-profile>

<app-user-profile>
  <app-tab [tabTitle]="'Tab 1'"> Tab 1 content </app-tab>
  <app-tab tabTitle="Tab 2"> Tab 2 content </app-tab>
</app-user-profile>
